<section class="footer">
<div class="container">
    <div class="row">
        <div class="col-6 text-white">
            <h2>CONTACT ME</h2>
            <h4>Fatma Elkhateeb</h4>
            <p>123456789</p>
        </div>
        <div class="col-6">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>

        </div>
    </div>

</div>
</section>
   