<section class="Skills bg-secondary">
    <div class="container py-5 ">
      <h2 class="text-center py-5 text-white">Skills</h2>
      <p class="text-center text-white" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora distinctio dolorem cupiditate, temporibus praesentium ipsum reiciendis labore? Eos, dolor quam animi quidem molestiae sed excepturi rem modi incidunt alias temporibus?</p>
      <div class="row">
        <div class="col-6 text-center"> 
  <p class="text-white border-bottom">My foucus</p>
  <p> UI/UX</p>
  <p>Responsive Design </p>
  <p>WEb Design</p>
  <p>Mobile Design</p>
  </div>
  <div class="col-6 pt-5">
    <p><ngb-progressbar type="success" [value]="25">Html</ngb-progressbar></p>
    <p><ngb-progressbar type="info" [value]="75">CSS</ngb-progressbar></p>
    <p><ngb-progressbar type="warning" [value]="50">JS</ngb-progressbar></p>
    <p><ngb-progressbar type="dark" [value]="25">angular</ngb-progressbar></p>
    <p><ngb-progressbar type="success" [value]="50">react</ngb-progressbar></p>

    
  </div>
      </div>
    </div>
  
  </section>